{% extends 'base.html.twig' %}

{% block title %}RGPD{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ asset('css/rgpd.css') }}">
{% endblock %}

{% block content %}

<div class="container">
   <div class="col-sm-10 mx-auto">
      <section class="zone zone--cmp">
         <header>
            <h1 class="cmp__title">Paramétrer les cookies</h1>
            <p class="cmp__desc">Lorsque vous naviguez sur le site de <i>Zas Galerie</i>, des cookies sont déposés sur
               votre navigateur. Pour certains d’entre eux, votre consentement est nécessaire. Cliquez sur chaque
               catégorie de cookies pour activer ou désactiver leur utilisation. Pour bénéficier de l’ensemble des
               fonctionnalités proposé par le site du <i>Zas Galerie</i> (partage d’articles sur les réseaux sociaux,
               publicités conformes à vos centres d’intérêt, amélioration du site grâce aux statistiques de navigation,
               etc.), il est conseillé de garder l’activation des différentes catégories de cookies.</p>
         </header>
      </section>

      <section class="cmp__type">
         <div class="cmp__head">
            <h2>Cookies de fonctionnement </h2>
            {# <span class="cmp__mandatory">(obligatoire)</span> #}
               <div class="cmp__trigger-container cmp__default">
                  <input type="checkbox" class="cmp__cbx" checked="checked" disabled="disabled">
                  <label for="cmp-fonctionnement" class="cmp__trigger cmp__disabled">
                     <span></span>
                  </label>
                  <span class="cmp__status">Activé</span>
                  
               </div>
         </div>
         <p class="cmp__detail">Ces cookies garantissent le bon fonctionnement du site <i>Zas Galerie</i> et permettent
            son optimisation. Le site Web ne peut pas fonctionner correctement sans ces cookies. Certains cookies sont
            également déposés pour l’affichage et le comptage de publicités contextuelles non personnalisées.</p>
         <span class="cmp__mandatory">(obligatoire)</span>
         <button type="button" class="cmp__more" data-toggle="collapse" data-toggle-target=".cmp__viewmore">En savoir
            plus</button>
         <div class="cmp__viewmore ui-collapse--shown">
            <p>Ces cookies de fonctionnement contiennent par exemple des cookies d’authentification, AT Internet
               (notamment pour l’OJD).</p>
            <p>Veuillez trouver la liste des cookies de fonctionnement utilisés sur le site de <i>Zas Galerie</i> :</p>
            <p>AT Internet</p>
            <p>Firebase</p>
            <p>HockeyApp</p>
            <p>Cookies d’authentification</p>
            <p>Cookie Banner</p>
         </div>
      </section>

      <section class="cmp__type">
         <div class="cmp__head">
            <h2 class="cmp__category">Cookies analytics</h2>
            <div class="cmp__trigger-container"> <input type="checkbox" id="cmp-analytics" class="cmp__cbx"
                  name="analytics-cookies" checked="checked"> <label for="cmp-analytics"
                  class="cmp__trigger"><span></span></label> <span class="cmp__status">Activé</span> </div>
         </div>
         <p class="cmp__detail">Ces cookies permettent d’obtenir des statistiques de fréquentation anonymes du site
            <i>Zas Galerie</i> afin d’optimiser son ergonomie, sa navigation et ses contenus. En désactivant ces
            cookies, nous ne pourrons pas analyser le trafic du site <i>Zas Galerie</i>.</p> <button type="button"
            class="cmp__more" data-toggle="collapse" data-toggle-target=".cmp__viewmore">En savoir plus</button>
         <div class="cmp__viewmore">
            <p>Veuillez trouver la liste des cookies analytics utilisés sur le site de <i>Zas Galerie</i> :</p>
            <p>Amplitude</p>
            <p>Google Analytics</p>
            <p>Audipresse</p>
            <p>Crisp</p>
            <p>Hotjar</p>
            <p>One Next / ACPM</p>
            <p>Accengage</p>
         </div>
      </section>

      <section class="cmp__type">
         <div class="cmp__head">
            <h2 class="cmp__category">Cookies sociaux</h2>
            <div class="cmp__trigger-container"> <input type="checkbox" id="cmp-socials" class="cmp__cbx"
                  name="socials-cookies" checked="checked"> <label for="cmp-socials"
                  class="cmp__trigger"><span></span></label> <span class="cmp__status">Activé</span> </div>
         </div>
         <p class="cmp__detail">Ces cookies permettent d’interagir depuis le site <i>Zas Galerie</i> avec les modules
            sociaux et de partager les contenus du site du <i>Zas Galerie</i> avec d’autres personnes ou de les informer
            de votre consultation ou opinion sur celui-ci, lorsque vous cliquez sur les modules "Partager", "Aimer" de
            Facebook et de Twitter, par exemple. En désactivant ces cookies, vous ne pourrez plus partager les articles
            de <i>Zas Galerie</i> depuis le site <i>Zas Galerie</i> sur les réseaux sociaux.</p>
         <p class="cmp__detail">Par ailleurs, associés aux données de navigation du site <i>Zas Galerie</i>, les cookies
            sociaux permettent au site <i>Zas Galerie</i> de créer et diffuser certaines publicités personnalisées
            relatives à ses publications et à ses offres. En désactivant ces cookies, <i>Zas Galerie</i> ne pourra plus
            vous proposer ce type de publicités personnalisées.</p> <button type="button" class="cmp__more"
            data-toggle="collapse" data-toggle-target=".cmp__viewmore">En savoir plus</button>
         <div class="cmp__viewmore">
            <p>Veuillez trouver la liste des cookies sociaux utilisés sur le site de <i>Zas Galerie</i> :</p>
            <p>Twitter</p>
            <p>Twitter (Cards)</p>
            <p>Twitter (Timelines)</p>
            <p>Facebook</p>
            <p>Pixel Facebook</p>
            <p>Instagram</p>
            <p>Linkedin</p>
         </div>
      </section>

      <section class="cmp__type">
         <div class="cmp__head">
            <h2 class="cmp__category">Cookies de ciblage publicitaire</h2>
            <div class="cmp__trigger-container"> <input type="checkbox" id="cmp-ads" class="cmp__cbx" name="ads-cookies"
                  checked="checked"> <label for="cmp-ads" class="cmp__trigger"><span></span></label> <span
                  class="cmp__status">Activé</span> </div>
         </div>
         <p class="cmp__detail">Ces cookies permettent à <i>Zas Galerie</i> ou à ses partenaires de vous présenter les
            publicités les plus pertinentes et les plus adaptées à vos centres d’intérêt en fonction de votre navigation
            sur le site <i>Zas Galerie</i>. En désactivant ces cookies, des publicités sans lien avec vos centres
            d’intérêt supposés vous seront proposées sur le site <i>Zas Galerie</i>.</p> <button type="button"
            class="cmp__more" data-toggle="collapse" data-toggle-target=".cmp__viewmore">En savoir plus</button>
         <div class="cmp__viewmore">
            <p>Veuillez trouver la liste des cookies de ciblage publicitaire utilisés sur le site <i>Zas Galerie</i> :
            </p>
            <p>Weborama</p>
            <p>Ligatus - Outbrain</p>
            <p>Rubicon</p>
            <p>Google Ad Manager</p>
            <p>AppNexus</p>
            <p>Index Exchange</p>
            <p>Openx</p>
            <p>Triplelift</p>
            <p>Integral Ad Science</p>
            <p>Amazon</p>
            <p>Criteo</p>
            <p>SpotX</p>
         </div>
      </section>

      <section class="cmp__type">
         <div class="cmp__head">
            <h2 class="cmp__category">Cookies de personnalisation du parcours visiteur</h2>
            <div class="cmp__trigger-container">
               <input type="checkbox" id="cmp-customization" class="cmp__cbx"
                  name="customization-cookies" checked="checked"> 
               <label for="cmp-customization" class="cmp__trigger"><span></span></label>
               <span class="cmp__status">Activé</span>
            </div>
         </div>
         <p class="cmp__detail">Ces cookies permettent à <i>Zas Galerie</i> de vous proposer, en fonction de votre
            navigation sur le site du <i>Zas Galerie</i>, ses contenus et/ou ses offres de produits et services les plus
            pertinents et les plus adaptés à vos centres d’intérêt.</p> <button type="button" class="cmp__more"
            data-toggle="collapse" data-toggle-target=".cmp__viewmore">En savoir plus</button>
         <div class="cmp__viewmore">
            <p>Veuillez trouver la liste des cookies de personnalisation du parcours lecteur utilisés sur le site de
               <i>Zas Galerie</i> :</p>
            <p>Chartbeat</p>
            <p>Forecast</p>
            <p>Mediego</p>
         </div>
      </section>

      <section class="row mb-5 text-center">
         <div class=" cmp__validate col-md-5">
            <a href="{{ path('home') }}" id="validate">Valider les paramètres</a>
         </div> 
        <div class="cmp__cancel col-md-5">
            <a href="{{ path('home') }}" id="annuler">Annuler</a>
        </div>
      </section>
   </div> 
</div>


{% endblock %}
