{% block style %}
<link rel="stylesheet" href="{{ asset('css/banners.css') }}">
{% endblock %}

{# <div class="banner-one">
   {# <img src="{{ asset('img/galerie1.png')}}" alt="Photo galerie Zas"> #}
   {# <div class="banner-one-text">
      <h2>Une émotion</h2>
      <h3>Art Contemporain</h3>
   </div>
   <div class="banner-one-text">
      <h2>Une émotion</h2>
      <h3>Art Contemporain</h3> 
   </div>
</div> #}

    <div class="container-fluid banner banner-1">
        <div class="container d-flex flex-column text-banner-1">
            <h2><i>Une émotion</i></h2>
            <h3>Art Contemporain</h3>
        </div>
    </div>