{% block style %}
<link rel="stylesheet" href="{{ asset('css/banners.css') }}">
{% endblock %}

<div class="banner-two">
   <div class="banner-two-text">
      <h2>Besoin de Conseil ?</h2>
      <h3>Nos conseillers sont à votre écoute</h3>
   </div>
</div>
{# 
<div class="espace"></div> #}