{% block style %}
<link rel="stylesheet" href="{{ asset('css/banners.css') }}">
{% endblock %}

{# <div class="banner-three">
   <div class="banner-three-text">
      <h2>Essayez nos oeuvres gratuitement pendant 14 jours</h2>
   </div>
</div>

 #}

<div class="container-fluid banner banner-3">
        <div class="container d-flex flex-column">
            <h2>Essayez nos oeuvres gratuitement pendant 14 jours</h2>
        </div>
    </div>