{% block style %}
<link rel="stylesheet" href="{{ asset('css/accordion.css') }}">
{% endblock %}

<button class="accordeon mb-1 mt-5">Technique</button>
	<div class="panel">
	   <p>lorem</p>
	</div>
	
<button class="accordeon">Artiste</button>
	<div class="panel">
   	<p>lorem</p>
	</div>